---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "frontend.fullname" . }}
  namespace: {{ include "nebuly-platform.namespace" . }}
  labels:
    {{- include "frontend.labels" . | nindent 4 }}
  annotations:
    {{- include "nebuly-platform.annotations" . | nindent 4 }}
data:
  env.json: |
    {
      "GIT_REF": "${GIT_REF}",
      "HELM_CHART_VERSION": {{ .Chart.Version | quote }},
      "LOGIN_MODES": "{{ .Values.auth.loginModes }}",
      "DEPLOYMENT_MODE": "self-hosted",
      "NEXT_PUBLIC_AUTH_MODE": "custom",
      "NEXT_PUBLIC_API_URL": "{{ .Values.frontend.backendApiUrl }}",
      "NEXT_PUBLIC_AUTH_API_URL": {{ .Values.frontend.authApiUrl | quote }},
      "NEXT_PUBLIC_LDAP_ENABLED": {{ .Values.auth.ldap.enabled | quote }},
      "NEXT_PUBLIC_SENTRY_ENABLED": {{ .Values.frontend.sentry.enabled | quote }},
      "NEXT_PUBLIC_SENTRY_DSN": {{ .Values.frontend.sentry.dsn | quote }},
      "NEXT_PUBLIC_SENTRY_ENVIRONMENT": {{ .Values.frontend.sentry.environment | quote }},
      "NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE": {{ .Values.frontend.sentry.tracesSampleRate | quote }},
      "NEXT_PUBLIC_SENTRY_REPLAY_SESSION_SAMPLE_RATE": {{ .Values.frontend.sentry.replaySessionSampleRate | quote }},
      "NEXT_PUBLIC_ENABLE_LLM_ISSUES_V2": "true",
      "NEXT_PUBLIC_APP_FAVICON": {{ .Values.frontend.faviconPath | quote }},
      "NEXT_PUBLIC_APP_TITLE": {{ .Values.frontend.title | quote }},
      "NEXT_PUBLIC_ENABLE_TRANSLATIONS": {{ include "featureTranslationsEnabled" . | quote }},
      "NEXT_PUBLIC_ENABLE_ADD_MEMBER": {{ .Values.auth.addMembersEnabled | quote }},
      "NEXT_PUBLIC_ENABLE_SUB_CATEGORIES": {{ .Values.frontend.enableSubCategories | quote }},
      "NEXT_PUBLIC_ENABLE_AB_TESTING": {{ .Values.frontend.enableAbTesting | quote }},
      {{- if not (empty .Values.frontend.customIntentConfig) }}
      "CUSTOM_INTENT_CONFIG": {{ .Values.frontend.customIntentConfig | toJson }},
      {{- end }}
      {{- if not (empty .Values.telemetry.gtmId) }}
      "NEXT_PUBLIC_GTM_ID": {{ .Values.telemetry.gtmId | quote }},
      {{- end }}
      "NEXT_PUBLIC_ENABLE_CONVERSATIONS" : "true",
      "NEXT_PUBLIC_DEFAULT_AGGREGATION": {{ .Values.frontend.defaultAggregation | quote }},
      "NEXT_PUBLIC_ENABLE_AI_SUMMARY": {{ .Values.frontend.enableAiSummary | quote }},
      "NEXT_PUBLIC_ENABLE_OLD_RISKY_BEHAVIOR": {{ .Values.frontend.enableOldRiskyBehavior | quote }},
      "NEXT_PUBLIC_ENABLE_LLM_ISSUE_HIDING": {{ .Values.frontend.enableLLMIssueHiding | quote }},
      "NEXT_PUBLIC_ENABLE_ORGANIZATION_SETTINGS": {{ .Values.frontend.enableOrganizationSettings | quote }},
      "NEXT_PUBLIC_PERFORMANCE_MODE": {{ .Values.frontend.enableHighPerformanceMode | quote }},
      "NEXT_PUBLIC_SHOW_FAVICON_SIDEBAR": {{ .Values.frontend.useFaviconAsLogo | quote }},
      "NEXT_PUBLIC_ENABLE_INTERACTIONS_DETAILS_ACCESS_CONTROL": {{ .Values.interactionsAccessControl.enabled | quote }},
      "NEXT_PUBLIC_INTERACTIONS_DETAILS_ACCESS_CONTROL_MODE": {{ .Values.interactionsAccessControl.openDetailsMode | quote }},
      "NEXT_PUBLIC_INTERACTIONS_DETAILS_ACCESS_CONTROL_ROLES": {{ join ", " .Values.interactionsAccessControl.openDetailsRoles | quote }},
      "NEXT_PUBLIC_ENABLE_CUSTOM_VARIABLES": {{ .Values.frontend.enableCustomVariables | quote }}
    }

